@media (max-width: 768px) {





/* head */
.sub-header{
    padding:0 40rem;
}
.sub-header > .l > a > img{
    width:165rem;
    height:80rem;

}

/* wrap */
.sub-wrapper{
    min-width:auto;
    /*border: 1px solid red;*/
}





/******* 서브 3 ************/
.contact-box .txt-box .img1 {
    width: 117rem;
    height: 58rem;
    margin: 20rem auto 20rem;
}

.contact-box .txt-box .img1 img {height: 100%;}
.contact-box .txt-box .txt {
    font-size: 15rem;
}


.contact-box .map-area .inner {
    display: block;
    width: auto;
    padding: 0 30rem;

}
.contact-box .map-area .inner .item {
    padding-top: 20rem;
    padding-bottom: 0;
}
.contact-box .map-area .inner .item:first-of-type {
    border-right: none;
    border-bottom: 1rem solid #333;
    padding-right: 0;
    padding-bottom: 40rem;
}

.contact-box .map-area .item .map {
    position: relative;
    width: 100%;
    height: auto;
}
.contact-box .map-area .item .map img {
    width: 100%;
}
.contact-box .map-area .item .map:hover img {
    opacity: 0;
}
.contact-box .map-area .item .map::before {
    background-size: 100% auto;
}

.contact-box .map-area .item .map.map2::before {
    background-size: 100% auto;
}


.contact-box .map-area .inner .tit {
    font-size: 15rem;
}

.contact-box .map-area .inner .address {
    font-family: 'SUIT';
    font-weight: 300;
    color:#dedede;
    font-size: 11rem;
}

.contact-box .map-area .btn-area {
    display: flex;
    justify-content: center;
    width: auto;
}

.contact-box .map-area .btn-area:has(.btn:nth-child(2)) {
    justify-content: center;
}

.contact-box .map-area .btn-area:has(.btn:nth-child(1)):not(:has(.btn:nth-child(2))) {
    justify-content: flex-end;
}

.contact-box .map-area .btn-area .btn {
    justify-content: center;
    width: 90rem;
    font-size: 12rem;
    background: #8b6f4b;
    white-space: nowrap;
}
.contact-box .map-area .btn-area .btn + .btn {
    margin-left: 20rem;
}
.contact-box .map-area .btn-area .btn .icon {
    display: inline-flex;
    background: url(../img/sub/icon-arrow.png) no-repeat;
    background-size: 18rem 13rem;
    width: 18rem;
    height: 13rem;
    margin-left: 10rem;
}


}
