/* head */
.sub-header{
    padding:0 40rem;
}
.sub-header > .l > a > img{
    width:165rem;
    height:80rem;

}

/* wrap */
.sub-wrapper{
    min-width:auto;
    /*border: 1px solid red;*/
}





/******* 서브 3 ************/
.contact-box .map-area .inner {
    display: block;
    width: auto;
    padding: 0 145rem;

}
.contact-box .map-area .inner .item {}
.contact-box .map-area .inner .item:first-of-type {
    border-right: none;
    border-bottom: 1rem solid #333;
    padding-right: 0;
}

.contact-box .map-area .item .map {
    position: relative;
    width: 100%;
    height: auto;
}
.contact-box .map-area .item .map img {
    width: 100%;
}
.contact-box .map-area .item .map:hover img {
    opacity: 0;
}
.contact-box .map-area .item .map::before {
    background-size: 100% auto;
}

.contact-box .map-area .item .map.map2::before {
    background-size: 100% auto;
}





.contact-box .map-area .inner .tit {
    font-size: 30rem;
}

.contact-box .map-area .inner .address {
    font-size: 22rem;
}

.contact-box .map-area .btn-area {
    display: flex;
    justify-content: center;
    width: 380rem;
    /*margin: 30rem auto 0;*/
}

.contact-box .map-area .btn-area:has(.btn:nth-child(2)) {
    justify-content: center;
}

.contact-box .map-area .btn-area:has(.btn:nth-child(1)):not(:has(.btn:nth-child(2))) {
    justify-content: flex-end;
}

.contact-box .map-area .btn-area .btn {
    display: flex;
    width: 180rem;
    font-size: 16rem;
    background: #8b6f4b;
    padding: 10rem 20rem 15rem;
    border-radius: 3rem;
    color:#fff;
}
.contact-box .map-area .btn-area .btn + .btn {
    margin-left: 20rem;
}
.contact-box .map-area .btn-area .btn .icon {
    display: inline-flex;
    background: url(../img/sub/icon-arrow.png) no-repeat;
    width: 18rem;
    height: 13rem;
    margin-left: 20rem;
}
